body
{
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
    font-family: 'Arial';
    color:#FFFFFF;
}
a
{
    color: rgb(0, 0, 0);
}

.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        border-radius: 50px;
          background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
.register{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
         border-radius: 50px;
          background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}
label{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
#textBox{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#sub{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
